
h1
    a.noul(href='#{root}') TPTElements
nav
  div.section
    | Editors for:
    a(href='#{root}/editor.html#c++') C++
    a(href='#{root}/editor.html#lua') Lua
    a(href='#{root}/editor.html#c') C
  div.section
    | Learn:
    a(href='#{root}/reference/lua-reference.html') Lua reference
    //- a(href='#{root}/reference/api-search') API Search
    a(href='#{root}/reference/save-format.html') Save format